@import url("https://fonts.googleapis.com/css?family=Alegreya&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #fff;
}

.u-center-text {
  text-align: center;
}

.u-right-text {
  text-align: right;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.dark {
  background: #eee;
}

.flex-end {
  justify-content: flex-end;
}

.u-col-small {
  width: 65% !important;
}

.u-vh-half {
  height: 400px;
}

.nav-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 25px;
}
.nav-main-logo {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 3px;
}
.nav-main-logo:link, .nav-main-logo:visited {
  color: #111;
  text-decoration: none;
}
.nav-main-logo:hover {
  color: #1e4e91;
}
.nav-main-logo-img {
  width: 200px;
}
.nav-main-nav {
  display: flex;
  list-style: none;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .nav-main-nav {
    opacity: 1;
    position: absolute;
    right: 0;
    height: 92vh;
    width: 200px;
    top: 60px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: opacity 0.6s, transform 0.6s;
  }
}
@media screen and (max-width: 768px) {
  .nav-main-nav.open {
    transform: translateX(0%);
    transition: opacity 0.6s, transform 0.6s;
  }
}
.nav-main-nav-link:not(:last-child) {
  margin-right: 1rem;
}
.nav-main-nav-link a {
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
.nav-main-nav-link a:hover {
  color: #1e4e91;
}
@media screen and (max-width: 768px) {
  .nav-main-nav-link {
    margin-bottom: 1rem;
  }
}
.nav-main-nav-link .social-links a {
  margin-right: 1rem;
  font-weight: 300;
}
.nav-main-nav-toggle {
  display: none;
  border: 0px;
  background: transparent;
  cursor: pointer;
}
.nav-main-nav-toggle:focus {
  outline: none;
}
@media (max-width: 768px) {
  .nav-main-nav-toggle {
    display: block;
  }
}
.nav-main-nav-toggle .burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 5px;
}

.main-header {
  background-image: url("../imgs/bird.jpg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 500;
  padding: 3px;
  background: #ffffff4d;
  -webkit-backdrop-filter: saturate(120%) blur(7px);
  backdrop-filter: saturate(120%) blur(7px);
}

.content {
  padding: 2em 0;
}
.content-title {
  font-size: 2em;
  font-weight: 300;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.content-text {
  font-size: 1.2em;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
}

.col {
  width: 65%;
}
@media (max-width: 768px) {
  .col {
    width: 100%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .col {
    width: 100%;
  }
}

.thin {
  display: inline-block;
  width: 250px;
  text-align: justify;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .thin {
    width: 100%;
  }
}

footer {
  background-image: url(../imgs/bg.jpg);
  background-position-x: right;
  background-position-y: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bit-widget {
  font-family: "Lato", sans-serif, serif !important;
}
.bit-widget .bit-top-track-button {
  display: none;
}
.bit-widget .bit-top-track-button,
.bit-widget .bit-nav-bar-container {
  padding: 0 !important;
}
.bit-widget .bit-upcoming-events {
  margin: 0 !important;
}
.bit-widget .bit-top-track-button,
.bit-widget .bit-event-list-title {
  font-weight: 300 !important;
}
.bit-widget .bit-venue {
  margin: 5px 0;
}
.bit-widget .bit-event {
  padding: 0px !important;
}
.bit-widget .bit-event .bit-startTime-container .bit-startTime {
  margin-right: 20px;
}
.bit-widget .bit-event .bit-event-buttons {
  margin-top: 0px !important;
}
.bit-widget .bit-event .bit-date,
.bit-widget .bit-event .bit-startTime,
.bit-widget .bit-event .bit-location {
  font-weight: 300 !important;
}

/*# sourceMappingURL=style.css.map */
